html{
	height: 100%;
}
body, .container{

	height: 100%;
	width: 100%;

}
.row{
	height: 50%;
}


#container-lista{

	overflow-x: auto;
}

#container-lista div{
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
}


/*configurações do card*/

#card{

	margin: 7px;
	padding:0px;
	max-height: 80%;
	margin-bottom: 4%;
	margin-top: 1%;

}

.m-cabecalho-1 p{


	padding-right: -1%;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 10.4pt;
	padding-top: 0%;
	margin-top: -2%;
	

}

.m-cabecalho-1 div{

	padding-top: 0%;
	margin-top: 0%;
	

}

.m-cabecalho-1{

	padding-left: 0%;
	padding-top: 0%;
	margin-top: 0%;
	

}

.m-cabecalho-1 a{
	color: white;
	margin-top: 0%;
	
	
}





/*-------------------------------*/

#cabecalho-atrasado{

	background-color: #f14e3f;
	color: white;

}

#cabecalho-recente{
    
    background-color: #379b39;
	color: white;
	max-height: 40%;
	max-width: 100%;


}

#cabecalho-fazendo{
    
    background-color: #3d819f;
	color: white;


}  



/*-------------------------  */


#linha-comanda{
	width: 100%;
	max-height: 100%;
	align-content: right;
}

#linha-superior{
  
  height: 5%;
  background-color: #434240;
	
}

#espaco{
	 height: 20%;
	 padding-bottom: 20px;

}



/*---------------------------*/


#cabecalho-conteudo-pedido{

	list-style-type: none;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-left: 0px;
	padding-bottom:0px;
}


#cabecalho-item-pedido{

	list-style-type: none;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-left: 0px;
	margin-top: -5%;


}

/*--------------------------------*/

































body{

	background-color: #dddddd;
}
#quadrado-atrasado{
    position: absolute;
	width: 33%;
	height: 100%;
	background-color: #f34d3e;
	top: 0px;
	right: 0%;
	text-align: center;



}

#quadrado-recente{
    position: absolute;
	width: 33%;
	height: 100%;
	background-color: #379c3a;
	top: 0px;
	right: 70%;
	text-align: center;



}

#quadrado-fazendo{
    position: absolute;
	width: 33%;
	height: 100%;
	background-color: #6da4bc;
	top: 0px;
	right:35%;
	text-align: center;



}


#numeros-badges{

	font-size: 13pt;
}

p{
	color: white;
}

#container-comanda{

	padding-top: 3%;
	overflow-y: auto;
	margin: 0px;
}

html{
	overflow-y: hidden;
}

#texto_legenda{

	margin-top: 2%;
}





